@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme-color:#E85222;
    --theme-color-dark:#ca3300;
    --theme-dark:black;
    --theme-dark-grey:rgb(68, 68, 68);
    --sidebar-width:200px;
    --navbar-height:60px;
}





*{
    transition: all 0.3s ease;
}

.text-theme{
    color: var(--theme-color)!important;
}



.nav-theme{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: var(--navbar-height);
    background: black;
}

.sidebar-theme{
    position: fixed;
    top: calc(var(--navbar-height) + 10px);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height) - 20px);
    background: blue;
}

.page-content{
    width: calc(100vw - var(--sidebar-width));
}


.login-flex-box{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-box{
    max-width: 550px;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px var(--theme-dark);
}


/* Inputs and Buttons */
input{
    display: block;
    width: 100%;
    border: 1px solid var(--theme-dark-grey);
    padding: 0.5rem 0.8rem;
    border-radius: 0.4rem;
}
input:hover,input:focus,input:active{
    outline: none;
    border: 1px solid var(--theme-dark);
}

.btn-theme{
    background: var(--theme-color);
    padding: 0.5rem 0.8rem;
    color: white;
    cursor:pointer;
    border-radius: 0.4rem;
}

.btn-theme:hover{
    background-color: var(--theme-color-dark);
}